{% extends "Example/Twig/base.html.twig" %}

{% block content %}
    <p> Obsah z A</p>

    {% block dynamic %}
        {% embed "Example/Twig/embed.html.twig" %}
            {% block top %}
                Obsah TOP z A
            {% endblock %}

            {% block bottom %}
                Obsah BOTTOM z A
            {% endblock %}
        {% endembed %}

    {% endblock %}
{% endblock %}