<div class="top-box">
    <p>
    {% block top %}
        Výchozí obsah TOP z šablony "embed.html.twig"
    {% endblock %}
    </p>
</div>

<div class="bottom-box">
    <p>
    {% block bottom %}
        Výchozí obsah BOTTOM z šablony "embed.html.twig"
    {% endblock %}
    </p>
</div>