{% extends "Example/Twig/embed-a.html.twig" %}

{% block dynamic %}
    {% embed "Example/Twig/embed.html.twig" %}
        {% block top %}Obsah TOP z B{% endblock %}
    {% endembed %}

    <p>Obsah B</p>
{% endblock %}