{% extends "base.html.twig" %}

{% use 'Example/Twig/used.html.twig' %}
{% import 'Example/Twig/macro.html.twig' as forms %}

{% block title %}AppBundle:Example:Twig:index{% endblock %}

{% block main %}
    {# vlozi a vykresli obsah vkladane sablony #}
    {% include 'Example/Twig/included.html.twig' %}

    {# embed je jako include ale je mozne dodatecne prepsat bloky embedovane sablony #}
    {% embed 'Example/Twig/embed.html.twig' %}
        {% block top %}
            Obsah TOP z šablony "index.html.twig"
        {% endblock %}
    {% endembed %}

    {# vykresleni bloku z sablony 'Example/Twig/used.html.twig' #}
    {{ block('used_block') }}

    {# vykresleni makra z sablony 'Example/Twig/macro.html.twig' #}
    {{ forms.text() }}

    {# vykresli sablonu pomoci kontroleru #}
    {#{{ render(controller('AppBundle:Example/Routing:hello', {name: "Kontroler"})) }}#}

    {# vykresli sablonu na zaklade routy#}
    {#{{ render(url('homepage')) }}#}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ show_source_code(_self) }}
{% endblock %}
