{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block body %}
    <div class="page-header">
        <h1>Welcome to the <strong>Symfony Demo Application</strong></h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="jumbotron">
                    <p>
                        Browse the <strong>public section</strong>
                        of the demo application.
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ path('blog_index') }}">
                            <i class="fa fa-users"></i> Browse application
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="jumbotron">
                    <p>
                        Browse the <strong>admin backend</strong>
                        of the demo application.
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ path('admin_index') }}">
                            <i class="fa fa-lock"></i> Browse backend
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
