{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    {% for article in articles %}
        <article class="post">
            <h2>
                {{ article.title }}
            </h2>
            {{ article.summary }}
        </article>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
