{% extends "base.html.twig" %}

{% block title %}AppBundle:Example:Controller:cache{% endblock %}

{% block main %}
    <h1>{{ date|date('H:i:s') }}</h1>

    {#<esi:include src="http://..." />#}
    <h1>{{ render_esi(controller('AppBundle:Example/Controller:esi')) }}</h1>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ show_source_code(_self) }}
{% endblock %}
