{% extends 'Exception/base.html.twig' %}

{% block error_head %}
    Snažíte se dostat oprávnění!
{% endblock %}

{% block error_text %}
    Omlouváme se, ale na tuto stránce vás pomocí HTTP metody {{ app.request.method|upper }} nepustíme. {% dump  %}
{% endblock %}
