{% extends 'base.html.twig' %}

{% block title %}
    {{ exception.message }} ({{ status_code }} {{ status_text }})
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .sf-reset .block-exception, .sf-reset .block {
            border: none;
            border-radius: 0;
            padding: 2em;
            margin: 0;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    <span class="glyphicon {{ status_code > 500 ? 'glyphicon-warning-sign' : 'glyphicon-alert' }}"></span>
                    {% block error_head %}Ale ne! Tohle se nám nepovedlo.{% endblock %}
                    <small>{% block error_code %}{{ status_code }}{% endblock %}</small>
                </h1>
            </div>
            <p>
                {% block error_text %}
                    Pracujeme na opravě.
                {% endblock %}
                {% block error_button %}
                    <div>
                        <a href="{{ router.routecollection.get('index')|default ? path('index') : '#' }}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            Zpět na hlavní stránku
                        </a>
                    </div>
                {% endblock %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
